@model CreateNewPasswordViewModel
@{
    ViewData["Title"] = "Parola Yenileme";
}

<form method="post">
    <div class="mb-3 col-12 col-lg-4">
        <label class="form-label" asp-for="NewPassword"></label>
        <input class="form-control" asp-for="NewPassword" placeholder="parolanızı yazınız..." />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="mb-3 col-12 col-lg-4">
        <label class="form-label" asp-for="NewPasswordCheck"></label>
        <input class="form-control" asp-for="NewPasswordCheck" placeholder="parolanızı tekrar yazınız..." />
        <span asp-validation-for="NewPasswordCheck"></span>
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">Gönder</button>
    <p>&nbsp;</p>
    @if (!ViewContext.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <div asp-validation-summary="All"></div>
        </div>
    }
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}